[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anyio = "*"
chardet = "*"
fastapi = "*"
gunicorn = "*"
pydantic = "*"
"uvicorn[standard]" = "*"
requests = "*"
chromadb = "*"
mediapipe = "*"
numpy = "*"
opencv-python = "*"
hnswlib = "*"
pyparsing = "*"

[dev-packages]
flake8 = "*"
pyflakes = "*"
pylint = "*"

[requires]
python_version = "3.11"
